.img-box{
	column-count: 4;
	column-gap: 6px;
	width: 95%;
	max-width: 1400PX;
	margin: auto;
}
.image{
	max-width: 100%;
	display: block;

}
.img_link+.img_link{

	margin: 5px;

}



.img_link:hover{
	opacity: 1 ;
	filter:sepia(60%) ;
	

}
.img_link{
	display: block;
	opacity: 1.8;
	transition: 0.4s;
	filter: blur(1.5px);
}
@font-face{
	font-family:Oswald ;
	src: url(../fonts/Oswald-variableFont_wght.ttf);

}
body{
	font-family:Oswald ;
	background-color: #675984;
}
h1{
	font-size: 50px;
	width: 100%;
	padding: 3px 0;
	background-color:#4E3F6F ;
}
