*{
	margin: 0;
	padding:0 ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box ;
	box-sizing: border-box ;
}

html,body,header{
	height: 100%;
}
html{
	font-size: 10px;
	font-family:Yanone Kaffeesatz, sans-serif ;
}
.nav-wrapper{
	
	height: 100px;
	display: flex;
	padding: 0 100px;
	width: 100%;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;

}

.topnav{
	display: flex;
	justify-content: flex-end;

	width: 75%;
}

.nav-link{
	text-decoration: none;
	color: black;
	display: inline-block;
	font-size: 1.7rem;
	transition: 0.3s ease-in;
}
.logo{
	font-size: 25px;
	font-weight: bold;
}

.nav-link+.nav-link{
	margin-left: 3%;
}
.search{
	background-image: url(../app/iconic1.png);/*путь к лупе*/
	background-position: 0px center;
	background-repeat: no-repeat;
	-webkit-background-size: 10px 10px;
	background-size: 13px 13px;
	border: none;
	padding-left: 15px;
	font-size: 1.5rem;
	outline: none; /*чтобы обводка не появлялась*/
	transition: 0.9s ease-in;
}
.header{
	background-image: url(../app/img-1.jpg);
	background-repeat: no-repeat;/*чтобы изображения не повторялись*/
	height: calc(100% - 100px);
	-webkit-backgroud-size: cover;
	background-size: cover;
	background-position: 50% 30%;
	position: relative;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: white;


}
.header:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);

}
.header>.box{
	z-index: 1;
	text-align: center;
}
.h1{
	font-size: 5rem;

}
.subtitle{
	font-size: 1.6rem;
	padding: 2rem;
}
.header-btn{
	border: none;
	width: 200px;
	height: 60px;
	font-size: 1.6rem;
	display: inline-block;
	margin-top: 40px;
	color: white;
	text-transform: uppercase;
	cursor: pointer;


}
.header-btn + .header-btn{
	margin-left: 20px;
}
.trsprnt{
	border: 2px solid white;
	background-color: transparent;
}
.green{
	background-color: #3CB371;
	border: none;
}

	.trsprnt:hover{
		background-color: #3CB371;
		border-color: transparent;
	}

	.green:hover{
		border: 2px solid white;
		background-color: transparent;
	}
	.nav-link:hover{
		background-color: black;
		color: white;
	}
.search:focus{
	border-bottom: 1.5px solid black;

}