@media all and(min-width: 1150px){
	.trsprnt:hover{
		background-color: #3CB371;
		border-color: transparent;
	}

	.green:hover{

		border: 2px solid white;
		background-color: transparent;
	}
}